.home-screen {
  display: flex;
  flex-direction: row;
}
.main-screen {
  width: 65%;
  border-radius: 2rem;
  margin: 2rem 1rem 2rem 2rem;
  background-color: #333;
  color: white;
  padding: 0;
}
.resume-screen {
  width: 35%;
  height: fit-content;
  position: sticky;
  top: 1rem;
  margin: 2rem 2rem 2rem 1rem;
  border-radius: 2rem;
}
.iframe-win {
  overflow: hidden;
  height: 39.5rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
}
.heading-div {
  margin: 1rem 1rem 1rem 1rem;
  color: wheat;
}
.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  padding: 20px;
}

.prog-bar {
padding:20px 0px 20px 0px;
}
.inner-tag{
  font-size: 20px;
  text-align: left;
}
.tag {
  background-color: #62faffe4;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.tag .close {
  margin-left: 5px;
  cursor: pointer;
}
.redo-container {
  display: block;
}
.redo-button {
  color: green;
  background: none;
  font-size: 1.4rem;
  border: none;
}
.basic-details-subcontainer {
  text-align: left;
  color: white;
}

@media only screen and (max-width: 720px) {
  .resume-screen {
    display: none;
  }
  .main-screen {
    width: 100%;
  }
} 

.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown-container select {
  margin: 10px;
  width: 50%;
  /* padding: 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.dropdown-container select:focus {
  border-color: #62faffe4;
}
/* Styling for the dropdown options */
.dropdown-container select option {
  background-color: #de0000; /* Background color */
  color: rgb(0, 0, 0); /* Text color */
}

/* Styling for the dropdown when expanded */
.dropdown-container select:focus option {
  background-color:   #d9f9fa1e; /* Background color */
  color: rgb(255, 255, 255); /* Text color */
}


/* Styling for the button */
.dropdown-container button {
  padding: 5px 5px 5px 5px;
  background-color: #62faffe4;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.dropdown-container button:hover {
  background-color: #00cc00;
}

.dropdown-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
